# *.sh
*.cmd
*.zip
*.ipynb
*.log
*.egg-info
_*
!__init__.py
*tmp*
*test*
*old*

__pycache__
logs
.vscode
# .gitignore
.git
nohup.out

# ==============================

/*
!/.gitignore
!/pyproject.toml
!/README.md
!/requirements.txt
!/src
!/todo*
# /src/script

!/data
!/LLaMA-Factory
!/src


