# *.sh
*.cmd
*.zip
*.ipynb
*.log
_*
!__init__.py
*tmp*
*test*
*old*

__pycache__
logs
.vscode
# .gitignore
.git
nohup.out

# ==============================

/*
!/LLaMA-Factory
!/.gitignore
!/README.md
!/requirements.txt
!/src

# src
!src/template_script
src/*scripts

# data
